<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login PlayAround</title>
    <link rel="icon" href="../resources/image/Symbol playaround logo.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../resources/css/login.css">
   <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="../resources/angularFile/constant.js"></script>
    <script src="../resources/angularFile/loginController.js"></script>

    <!--Pulling Awesome Font -->
</head>
<body ng-app="PlayAroundLogin" ng-controller="login">
<div class="page-header">
    <div align="center">
    <img class="image-responsive" src="../resources/image/Symbol_playaround_complete.png" alt="logo PlayAround">
    </div>
</div>
<div class="container" style="margin-top: 2%" align="center">

        <form class="form-login" name="myLogin">
            <div class="row">
                <h3>LOGIN</h3>
            </div>
            <div class="row">
                <input type="text" id="userName" name="userName" placeholder="email" ng-model="email"  required/>
                    <p ng-show="myLogin.userName.$touched && myLogin.userName.$invalid" style="color: darkred"> Campo Richiesto</p>
            </div>
                </br>
            <div class="row">
                <input type="password" id="userPassword"  placeholder="password" ng-model="password" required />
                <span ng-bind="error.text"></span>
                </br>
            </div>
                <br>
            <div class="row">
                <span class="group-btn">
                    <button ng-click="try_login()" class="btn" ng-disabled="myLogin.$invalid" >Accedi <i class="fa fa-sign-in"></i></button>
                </span>
                <p ng-show="message" style="color: red; font-size: 20px; padding-top: 10px"ng-bind="error"></p>
            </div>
                <br>

            <div style="background-color: white;height: 2px"></div>
                <br>
            <div class="row">
                <p class="textLink">Non hai un Account? <span>
                    <a href="./registration.html" style="color: #a00e6d">ISCRIVITI</a>
                </span></p>
            </div>

                <p class="textLink"><a href="#" class="textLink" >Hai perso la Password?</a></p>
        </form>
</div>
</body>
</html>