<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrazione PlayAround</title>
    <link rel="icon" href="/resources/image/Symbol playaround logo.png" type="image/png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resources/css/registration.css" rel="stylesheet">
    <script src="/resources/angularFile/singupController.js"></script>

</head>
<body ng-app="PlayAround" ng-controller="registration">
<div class="page-header">
    <div align="center">
        <img class="image-responsive" src="/resources/image/Symbol_playaround_complete.png" alt="logo PlayAround"/>
    </div>
</div>
<div class="container" align="center">

        <form class="form-login" name="myRegister" novalidate>
            <div class="row">
                <h3>REGISTRAZIONE</h3>
            </div>
            <div class="row">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" ng-model="email" required/>
                <p class="help-block" ng-show="myRegister.email.$dirty && myRegister.email.$invalid">Enter a valid email.</p>
                <p ng-show="invalidEmail" style="color: red; font-size: 10px">Email già registrata</p>
            </div>
                </br>
            <div class="row">
                <input type="password" id="userPassword" name="password" class="form-control " placeholder="Password"
                       ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" ng-model="password" ng-minlength="8" required/>
                <p ng-show="myRegister.password.$error.minlength">La password deve contenere: <br> min. 8 caratteri, una maiuscola e un numero.</p>
            </div>
                </br>
            <div class="row">
                <input type="password" id="userPassword2" name="password2" class="form-control " placeholder="Conferma Password" ng-model="password2" required />
                <p ng-show="myRegister.password2.$modelValue != myRegister.password.$modelValue"> Inserire stessa password </p>
            </div>
                </br>
            <div class="row">
                <input type="text" id="userName" name="username" class="form-control" placeholder="Username" ng-model="username"  ng-maxlength="10" required/>
                <span ng-show="myRegister.username.$touched && myRegister.username.$invalid">The name is required.</span>
                <p ng-show="invalidUsername" style="color: red; font-size: 10px">Email già registrata</p>
            </div>
                </br>
                <br>
            <div class="row">
            <span class="group-btn">
                <button ng-click="try_signup()" class="btn btn-primary btn-md" ng-disabled="myRegister.$invalid">Registrati<i class="fa fa-sign-in"></i></button>
            </span>
                    <p ng-show="message" style="color: red; font-size: 20px; padding-top: 10px"ng-bind="error.text"></p>

            </div>
                <br>
                <div style="background-color: white;height: 2px"></div>
                <br>
                <p class="textLink">Hai già un Account ?
                    <span>
                    <a href="/public/login.html" style="color: #a00e6d">Effettua il Login</a>
                    </span>
                </p>



            </form>

        </div>
</body>
</html>