<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link href="../resources/css/template/album.css" rel="stylesheet">
</head>
<body>
<div class="row2">

    <div style="width: 100%;" align="center">
        <img style="border-radius: 40px; margin: auto;" ng-src={{album.immagine}}>
    </div>
    <h2 style="margin: auto;padding-bottom: 3%;">{{album.titolo}}</h2>
    <div class="listAlbum">

        <ul class="">
            <li  ng-repeat="song in brani">
                <p style="width: 70%" ng-click="loadBrano(song.codice,brani);setCurrentCoda($index);snackRiproduzione()">{{song.titolo}}</p>
                <i title="Aggiungi a Playlist" class="fa fa-plus dropbtn" aria-hidden="true" ng-click="showDrop(song.codice)"></i>
                <div class="dropdown" ng-show="codice === song.codice ? true : false">
                    <div class="dropdown-content">
                        <div ng-repeat="list in lista">
                            <p style="margin: 0px;" ng-click="aggiungi(list.nome,song.codice)">{{list.nome}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <i title="Aggiungi ai Preferiti" class="fa fa-bookmark" aria-hidden="true" ng-click="salvaBrano(song.codice)"></i>
                </div>
            </li>
        </ul>
    </div>
    <div class="snackbar" ng-show="notifica"> <a href="#!libreria\leTueCanzoni"> Aggiunto alle tue Canzoni</a></div>
    <div class="snackbar" ng-show="notifica2"> <a href="#!libreria\playlist"> Aggiunto alle tua Playlist</a></div>
    <div class="snackbarMusic" ng-show="riproduzione"> <a href="#!player"> Brano in Riproduzione </a></div>
</div>


</body>
</html>