<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link href="/resources/css/template/amici.css" rel="stylesheet">
</head>
<body ng-app="PlayAround">


    <h2 align="center" style="color: #FEC35E">I tuoi Amici</h2>

    <div class="row_img">
        <div class="column_img" ng-repeat="user in amici">
            <a href="#!utente/{{user.nome}}">
                <div class="container_img">
                    <img ng-src={{user.immagine}} class="image">
                    <div class="overlay">{{user.nome}}</div>
                </div>
            </a>
        </div>
    </div>


</body>
</html>