<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link href="/resources/css/template/amiciOn.css" rel="stylesheet">
</head>
<body ng-app="PlayAround">
<div>

    <h2 align="center" style="color: #FEC35E">Amici Online</h2>

    <div class="row_img">
        <div class="column_img" ng-repeat="user in getUsers()">
            <a href="#!utente/{{user.username}}">
                <div class="container_img">
                    <img ng-src={{user.img}} class="image">
                    <div class="overlay">{{user.username}}</div>

                </div>
                <i class="fa fa-music" aria-hidden="true">  {{user.canzone.titolo}}</i>
            </a>
        </div>
    </div>


</div>
</body>
</html>