<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link href="../resources/css/template/artista.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row">

    <h2 style="margin: auto;padding-bottom: 3%;">{{artista.nome}}</h2>
    <div style="width: 100%;" align="center">
        <img style="border-radius: 40px" ng-src={{artista.immagine}}>
    </div>
    <button  ng-click="isFollowed ? deleteArtista() : addArtista()" >
        <span ng-hide="isFollowed">Follow</span><span ng-show="isFollowed">Unfollow</span>
    </button>
<div style="width: 100%">
    <h2 align="center" style="color: #FEC35E">Gli ultimi album</h2>

    <div class="row_img">
        <div class="column_img" ng-repeat="album in Album">
            <a href="#!album/{{album.codice}}">
                <div class="container_img">
                    <img ng-src={{album.immagine}} class="image">
                    <div class="overlay">{{album.titolo}}</div>
                </div>
            </a>
        </div>
    </div>

    <h2 align="center" style="color: #FEC35E">Le canzoni più ascoltate</h2>

    <div class="row_img">
        <div class="column_img" ng-repeat="song in brani | limitTo: 6">
                <div class="container_img" ng-click="loadBrano(song.codice,brani);setCurrentCoda($index)">
                    <img ng-src={{song.immagine}} class="image">
                    <div class="overlay">{{song.titolo}}</div>
                </div>
        </div>
    </div>


</div>
</div>
</body>
</html>