<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/artisti.css">
</head>
<body ng-app="PlayAround">

    <h2 align="center" style="color: #FEC35E">Artisti Preferiti</h2>
    <div class="row_img">
        <div class="column_img" ng-repeat="artista in preferiti">
            <a href="#!artista/{{artista.codice}}">
                <div class="container_img">
                        <img ng-src={{artista.immagine}} class="image">
                        <div class="overlay">{{artista.nome}}</div>
                </div>
            </a>
        </div>
    </div>
</body>
</html>