<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/template/ascoltatiRecente.css">
</head>
<body ng-app="PlayAround" ng-controller="libreriaCtrl">
<div class="tab">
    <a href="#!libreria/playlist" class="tablinks">Playlist</a>
    <a href="#!libreria/leTueCanzoni" class="tablinks">Le tue Canzoni</a>
    <a href="#!libreria/ascoltatiRecente" class="tablinks active">Ascoltati di Recente</a>
</div>
<h2>GLI ULTIMI BRANI RIPRODOTTI</h2>


<div class="row_img">
    <div class="column_img" ng-repeat="brani in recenti">
        <div class="container_img" ng-click="loadBrano(brani.codice,recenti);setCurrentCoda($index)">
            <img ng-src={{brani.immagine}} class="image">
            <div class="overlay">{{brani.titolo}}</div>
        </div>
    </div>
</div>



</body>
</html>