<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/leTueCanzoni.css">
</head>
<body ng-app="PlayAround" ng-controller="libreriaCtrl">
<div class="tab">
    <a href="#!libreria/playlist" class="tablinks">Playlist</a>
    <a href="#!libreria/leTueCanzoni" class="tablinks active">Le tue Canzoni</a>
    <a href="#!libreria/ascoltatiRecente" class="tablinks">Ascoltati di Recente</a>
</div>
<h2>BRANI SALVATI</h2>
<div align="center" style="margin-bottom: 2%;margin-top: -2%;">
    <i class="fa fa-minus-circle" aria-hidden="true" ng-click="showBox()"><span id="textBtn"> Elimina dai Preferiti</span></i>
</div>


<!-- The Modal -->
<div id="myModal" class="modal" ng-show="visible">

    <!-- Modal content -->
    <div class="modal-content" >
        <div class="modal-header">
            <span class="close" ng-click="hideBox()">&times;</span>
            <h2>Elimina Brano dai preferiti</h2>
        </div>
        <div class="modal-body" align="center">
            <div class="row" style="background: white">
                <ul style="margin: auto">
                    <li class="deleteList" ng-repeat="brani in salvate" >

                        <p style="" ng-click="deletePrefer(brani.codice)">{{brani.titolo}}</p>
                    </li>
                </ul>

            </div>

        </div>

        <div class="modal-footer">


        </div>

        </form>
    </div>

</div>


<div class="row_img">
    <div class="column_img" ng-repeat="brani in salvate">
        <div class="container_img" ng-click="loadBrano(brani.codice,salvate);setCurrentCoda($index)">
            <img ng-src={{brani.immagine}} class="image">
            <div class="overlay">{{brani.titolo}}</div>
        </div>
    </div>
</div>




</body>
</html>