<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/carousel.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/template/mood.css">
</head>
<body>
<h2>MOOD</h2>
<div class="row_img">
    <ui-carousel
        slides="slides"
        slides-to-show="3"
        slides-to-scroll="1"
        initial-slide="1"
        autoplay="true"
        autoplay-speed="2000"
        dots="true">

    <carousel-item>
        <div class="container_img">
            <img ng-src={{item.immagine}} class="image">
            <div class="overlay">{{item.nome}}</div>
        </div>
    </carousel-item>
</ui-carousel>
</div>
<div class="row_img_mob">
    <div class="column_img_mob" ng-repeat="list in mood">
        <div class="container_img" ng-click="loadBrano(brani.codice,mood);setCurrentCoda($index)">
            <img ng-src={{list.immagine}} class="image_mob">
            <div class="overlay">{{list.nome}}</div>
        </div>
    </div>
</div>
<!-- carousel generi -->
<div class="row_img">
    <ui-carousel
            slides="slidesG"
            slides-to-show="3"
            slides-to-scroll="1"
            initial-slide="1"
            autoplay="true"
            autoplay-speed="2000"
            dots="true">

        <carousel-item>
            <div class="container_img">
                <img ng-src={{item.immagine}} class="image">
                <div class="overlay">{{item.nome}}</div>
            </div>
        </carousel-item>
    </ui-carousel>
</div>
<div class="row_img_mob">
    <div class="column_img_mob" ng-repeat="list in genere">
        <div class="container_img" ng-click="loadBrano(brani.codice,mood);setCurrentCoda($index)">
            <img ng-src={{list.immagine}} class="image_mob">
            <div class="overlay">{{list.nome}}</div>
        </div>
    </div>
</div>
</body>
</html>