<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/piuAscoltati.css">
</head>
<body>
<h2>Top Song</h2>
<div class="row_img">
    <div class="column_img" ng-repeat="brani in topBrani | limitTo: 30">
        <div class="container_img" ng-click="loadBrano(brani.codice,topBrani);setCurrentCoda($index);snackRiproduzione()">
            <img ng-src={{brani.immagine}} class="image">
            <div class="overlay">{{brani.titolo}}</div>
        </div>
    </div>
</div>
<div class="snackbarMusic" ng-show="riproduzione"> <a href="#!player"> Brano in Riproduzione </a></div>
</body>
</html>