<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/playlist.css">
</head>
<body ng-app="PlayAround" ng-controller="libreriaCtrl as ctrl">

<div class="tab">
    <a href="#!libreria/playlist" class="tablinks active">Playlist</a>
    <a href="#!libreria/leTueCanzoni" class="tablinks">Le tue Canzoni</a>
    <a href="#!libreria/ascoltatiRecente" class="tablinks">Ascoltati di Recente</a>
</div>


<h2>LE TUE PLAYLIST</h2>




<!-- Trigger/Open The Modal -->
<div align="center" style="margin-bottom: 2%;margin-top: -2%;">
    <i class="fa fa-plus-square" aria-hidden="true" ng-click="showBox()"><span id="textBtn"> Nuova Playlist</span></i>
</div>


<!-- The Modal -->
<div id="myModal" class="modal" ng-show="visible">

    <!-- Modal content -->
    <div class="modal-content" >
        <div class="modal-header">
            <span class="close" ng-click="hideBox()">&times;</span>
            <h2>Crea Nuova Playlist</h2>
        </div>
        <div class="modal-body" align="center">
            <div class="row" style="background: white">
                <form name="myPlaylist" novalidate style="margin: auto">
                <input type="text" id="nameplaylist" name="namePlaylist" placeholder="Inserire Nome Playlist" ng-model="namePlaylist" ng-show="create"  ng-minlength="3" required/>
                <span ng-show="myPlaylist.namePlaylist.$invalid" style="color: red">Il nome deve contenere almeno 3 caratteri</span>
                    <p ng-show="message" style="color: red;" ng-bind="error.text"></p>

                <div angucomplete-alt  
                        id="Song"
                        placeholder="Search Song"
                        pause="400"
                        selected-object="addSong"
                        remote-api-handler="searchBranoAPI"
                        title-field="titolo,artista,anno"
                        image-field="immagine"
                        clear-selected="true"
                        ng-hide="create">
                </div>
                     <p ng-hide="create">Hai aggiunto: {{nomeBrano}}</p>
                </form>

                </div>

            </div>

        <div class="modal-footer">
            <button class="btnSave" ng-click="newPlaylist()" ng-disabled="myPlaylist.$invalid" ng-show="create">Conferma</button>

        </div>

        </form>
    </div>

</div>

<div class="row_img">
    <div class="column_img" ng-repeat="list in playlist">
        <a href="#!libreria/playlist/{{list.codice}}">
            <div class="container_img">
                <img id="image" src="{{list.immagine}}" class="image">
                <div class="overlay">{{list.nome}}</div>
            </div>
        </a>
    </div>
</div>


</body>
</html>