<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/playlistDef.css">
</head>
<body>
<div class="listSong">
    <ul class="" ng-repeat="brani in playlistdef">
        <li ng-click="loadBrano(brani.codice,playlistdef);setCurrentCoda($index);snackRiproduzione()">
            <img  class="imgAlbum" ng-src={{brani.immagine}}>  {{brani.titolo}}  {{brani.artista}}
        </li>
    </ul>
</div>
<div class="snackbarMusic" ng-show="riproduzione"> <a href="#!player"> Brano in Riproduzione </a></div>
</body>
</html>