<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/playlistUt.css">
</head>
<body>
<div class="row2">

    <div id="myModal" class="modal" ng-show="visible">

        <!-- Modal content -->
        <div class="modal-content" >
            <div class="modal-header">
                <span class="close" ng-click="hideBox()">&times;</span>
                <h2>Crea Nuova Playlist</h2>
            </div>
            <div class="modal-body" align="center">
                <div class="row" style="background: white">

                        <div
                                angucomplete-alt  id="Song"
                                placeholder="Search Song"
                                pause="400"
                                selected-object="addSong"
                                remote-api-handler="searchBranoTitoloAPI"
                                title-field="titolo,artista,anno"
                                image-field="immagine"
                                clear-selected="true"
                                >
                        </div>
                        <p>Hai aggiunto: {{nomeBrano}}</p>


                </div>

            </div>

            <div class="modal-footer">

                <button class="btnSave" ng-click="hideBox()">Finish</button>

            </div>


        </div>

    </div>


 <h2>{{nomePlay}}</h2>
    <div style="margin-bottom: 8%">
        <i class="fa fa-plus" aria-hidden="true" ng-click="showBox()"> Aggiungi Brano</i>
        <i class="fa fa-trash-o" aria-hidden="true" ng-click="delete()"> Elimina Playlist</i>
    </div>

        <div class="listSong">
            <ul class="" ng-repeat="brani in playlistUt">
                <li ng-click="loadBrano(brani.codice,playlistUt);setCurrentCoda($index);snackRiproduzione()">
                  <img  class="imgAlbum" ng-src={{brani.immagine}}>  {{brani.titolo}}  {{brani.artista}}
                </li>
            </ul>
        </div>


</div>
<div class="snackbarMusic" ng-show="riproduzione"> <a href="#!player"> Brano in Riproduzione </a></div>
</body>
</html>