<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../resources/css/template/player.css">
</head>

<body>

<div class="row-player">
    <div class="bg-player">
        <img src="../resources/image/sbarreColoro.jpeg" class="imgA">
        <div class="image-album">
            <img ng-src="{{currentSongImage()}}" style="width: 150px;height: 150px">

        </div>
        <p class="titleAlbum">{{currentSongName()}}</p>

    </div>

    <div class="controllers" align="center">
       <!--<progress id="PlayerProgressBar" min='0' max='100' value='0'></progress>-->
        <div class="time_slider">
            <progress id="PlayerProgressBar" min='0' max='100' value='0'></progress>
            <span id = "PlayermsicTime" class="runing_time">00:00</span>
        </div>
        <i class="fa fa-volume-off" aria-hidden="true"></i>
        <i class="fa fa-fast-backward" aria-hidden="true" ng-click="prec()"></i>
        <i id = "playerPlayPause" ng-class="AudioInPause ? 'fa fa-play' : 'fa fa-pause'" aria-hidden="true" ng-click="playPause()"></i>
        <i class="fa fa-fast-forward" aria-hidden="true" ng-click="succ()"></i>
        <i class="fa fa-retweet" aria-hidden="true"></i>
    </div>
<div class="listAlbum" align="center">
    <ul class="">
        <li  ng-repeat="song in getInCoda()" >
            <p style="background: rgba(0,0,0,0.3)" ng-click="loadBrano(song.codice,getInCoda());setCurrentCoda($index)">{{song.titolo}}</p>
            <i class="fa fa-bookmark" aria-hidden="true" ng-click="salvaBrano(song.codice)"></i>
        </li>
    </ul>
</div>
    <div class="snackbar" ng-show="notifica"> <a href="#!libreria\leTueCanzoni"> Aggiunto alle tue Canzoni</a></div>
</div>

</body>
</html>