<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>PlayAround</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/template/playlistDef.css">
</head>
<body>
<div class="listSong">
    <ul class="" ng-repeat="brani in playlistDef">
        <li ng-click="loadBrano(brani.codice,playlistDef);setCurrentCoda($index)">
            <img  class="imgAlbum" ng-src={{brani.immagine}}>  {{brani.titolo}}  {{brani.artista}}
        </li>
    </ul>
</div>
</body>
</html>